// vi: set ft=sass :

.article {
  @util clearfix;

  .articleHeader {
    text-align: center;
    color: #333;
    position: relative;

    h1 {
      margin: 0 auto;
      padding: 20px 0 15px;
      font-weight: 200;
      font-size: 2.5em;
    }
  }

  .meta {
    margin: 0;
    padding: 0 0 10px 0;
  }

  a {
    color: #4c6dd1;
  }

  img {
    max-width: calc(100% + 15px * 2);
    display: block;
    margin: 0 -15px;
  }

  p {
    line-height: 1.7em;
  }

  code {
    font-family: Inconsolata, Consolas, Monaco, Menlo, Consolas, 'Courier New',
      monospace;
  }

  // inline code
  li > code,
  p > code {
    border-radius: 3px;
    background: #d6eaf4;
    color: #0c4765;
    padding: 0.2em 0.2em;
    margin: 0 4px;
    font-size: 0.85em;
    border: 1px solid #51847f;

    &:before,
    &:after {
      content: '\00a0';
      letter-spacing: -0.2em;
    }
  }

  li {
    line-height: 1.8em;
  }

  blockquote {
    margin: 0;
    margin-left: 15px;
    border-left: 3px solid #ccc;
    padding: 10px 0px 10px 15px;

    p {
      margin: 0;
      color: #555;
    }
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
  }
}

.contentWrapper {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;

  &:after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  .tocContainer {
    display: none;

    overflow-y: scroll;
    max-height: 100vh;

    // position: absolute;
    // top: 0;
    // left: -280px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: #fefefe;
  }

  @media screen and (min-width: 1260px) {
    .tocContainer {
      display: block;
      float: left;
      margin-left: -280px;
    }
  }

  .tocTitle {
    margin-top: 10px;
    font-size: 20px;
    border-left: 1px solid blue;
    margin-left: -10px;
    padding-left: 10px;
    font-weight: bold;
  }

  .toc ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 18px;
  }

  .toc > ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
  }

  .toc li {
    p {
      margin: 0;
    }

    a {
      // color: #3498db;
      color: #999;

      &.focused {
        color: #333;
      }

      &:hover {
        color: tomato;
      }
    }
  }

  // wll been applied to the toc container
  .fixed {
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .content {
    & > h2 {
      font-weight: 300;
      font-size: 2em;
    }

    a {
      transition: all 0.5s ease;

      &:hover {
        background: #555;
        border-radius: 3px;
        color: #f3f3f3;
        text-decoration: none;
        transition: all 0.5s ease;
      }
    }

    hr {
      border: none;
      border-top: 1px solid #ccc;
    }
  }
}
