// <ul />
.list {
  list-style: none;
  width: 700px;
  margin: 0 auto;
  padding: 0;

  li {
    margin: 15px auto;
    display: flex;
    align-items: center;

    h2 {
      margin: 10px auto 5px;
      font-weight: 200;
      font-size: 1.8em;
      flex: 1;

      a {
        display: block;
      }
    }
  }
}
