.hero {
  height: 100vh;
  width: 100%;
  position: relative;

  // background: url(http://carlog.qiniudn.com/david-marcu-114194.jpg);
  // background-size: cover;
  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    // background: rgba(0,0,0,0.7);
    background: #000;
  }
}

.tries {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  svg {
    width: 39px;
    height: 32px;
  }
}

.arrow {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);

  svg {
    width: 48px;
    height: 48px;
    fill: none;
    stroke: #eee;
    stroke-width: 2px;
  }
}

.main {
  max-width: 100%;
  margin: 0;
  padding: 30px;
  background: #000;
  color: #fff;
  margin-top: -1px; // work around mobile chrome 100vh issue

  nav {
    padding: 20px 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        display: block;
        padding: 10px 0;
        text-decoration: none;
        color: #fff;
        font-weight: 100;
        font-size: 1.5em;
      }

      li {
        padding: 5px 8px;
      }

      li:hover {
        a {
          color: #777;
        }
      }
    }
  }
}

.mainWrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  .social {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    a {
      padding: 0 20px;

      svg {
        width: 24px;
        height: 24px;
      }
    }


    .twitter {
      &:hover {
        svg path {
          fill: #4c9eec;
          stroke: rgba(0,0,0,0.1);
        }
      }
    }

    .github {
      &:hover {
        svg path {
          fill: #fffeff;
          stroke: rgba(0,0,0,0.1);
        }
      }
    }
  }
}
