// vi: set ft=sass :

.masthead {
  margin: 0 auto;
  padding: 20px;
  background: #000;
  position: relative;

  --gutter: 6px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  z-index: 2;

  div {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.4);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }

  &:hover {
    div {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0.6);
    }
  }

  a {
    --size: 80px;

    display: block;
    position: relative;
    z-index: 2;
    width: var(--size);
    height: var(--size);

    img {
      max-width: 100%;
    }
  }
}

.hamburger {
  --size: 19px;
  --outer-size: 60px;

  position: relative;
  z-index: 2;
  width: var(--outer-size);
  height: var(--outer-size);

  & > div {
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div div {
    width: var(--size);
    height: 1px;
    background: #f8f8f8;
    position: absolute;
    top: calc((var(--size) - 1px) / 2);

    &:before,
    &:after {
      content: ' ';
      background: #f8f8f8;
      position: absolute;
      width: var(--size);
      height: 1px;
      left: 0;
      transition: transform 0.35s ease;
    }

    &:before {
      transform: translate(0, -6px);
    }

    &:after {
      transform: translate(0, 6px);
    }
  }
}

.nav {
  z-index: 1;
  position: absolute;
  background: #333;
  width: 100%;
  padding: 0;
  left: 0;
  top: 0;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.35s ease-in-out;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    line-height: 40px;

    a {
      display: block;
      color: #fff;
      text-align: center;

      &:hover {
        color: #777;
      }
    }
  }
}

.menustate:checked ~ .wrapper .hamburger {
  div div {
    visibility: hidden;

    &:before,
    &:after {
      visibility: visible;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.menustate:checked ~ .nav {
  padding: 70px 10px 20px;
  max-height: 100vh;
}
